#recent-tournament-div{
    background-color: rgba(0,0,0,0.7);
    color: white;
    /* margin: 20px; */
    padding: 20px;
    /* padding-top: 1px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  td{
    background-color: #00000096;
    color: white;
    font-weight: bolder;
  }
  th {
    background-color: #f2f2f2;
  }
  
.winners-runners-container {
    display: flex; /* Create a flex container */
}

.winners,
.runners {
    flex: 1; /* Distribute equal space for both columns */
    padding: 20px; /* Add padding for spacing */
    margin-right: 10px; /* Add some margin between columns */
    background-color: #0000009e; /* Set background color for sections */
    color: #fff; /* Set text color to white */
}

/* Style for section headings (h2) */
.winners h2,
.runners h2 {
    margin: 0;
    text-align: center; /* Remove default margin */
}

/* Style for team names (h4) */
.winners h4,
.runners h4 {
    color: red;
    text-align: center; 
    font-weight: bolder;
    
}

ul {
    list-style-type: none; /* Remove bullets from the list */
    padding: 0; 
    margin-bottom: 4px;/* Remove default padding */
}

li {
    margin-bottom: 5px; /* Add spacing between list items */
    color: white;
    text-align: center; /* Set text color for list items */
}



